footer{
	height: 155px;
	background:{
		image: url(../img/#{$logoUrl}), url(../img/#{$headerBgUrl});
		repeat: no-repeat;
		position: 35px 55px, center;
		size: 50px 50px, cover;
		blend-mode: overlay;
	}
	  
	nav{
		display: inline-block;
		float: none;
		margin-top: 25px;
  	    margin-left: 85px;
	}
	
	.copyright{
		margin-left: 105px;
		text-transform: uppercase;
		line-height: 2;
		font-size: 0.9em;
	}
}
